body{
    background-color: #282e34;
    scroll-behavior: smooth;
    width:75%;
    background-image: url(KenpanCompilation.png);
}

.TitleLine{
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
}

.col-4{
    margin-right: 9vw;
}
.col-4 p{
    margin-top: -0.1vw;
}

.AboutBody .btn{
    margin-top: 3vw;
    margin-left: 23vw;
    background-color: #eeeeee00;
    border-color: #eeeeee00;
    text-shadow: 1px 1px 3px black;
}

.AboutBody .btn:Hover{
    background-color: #20272F;
    border-color: #20272F;
}

.col-xl-10{
    color: white;
    height: 100vh;
    padding-top: 15vh;
    margin-left: 40%;

}
.col-xl-10 h1{
    text-align: center;
    text-shadow: 4px 2px 6px black;
}

.col-10{
    margin-right: 100%;
}

.AboutBody h6{
    font-size: 22px;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.AboutHeader{
    margin-left: 24vw;
}
.AboutHeader img{
    height: 10vh;
}

.sidenav{
    height:100%;
    width:25%;
    max-width: 25%;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 3vw;
    background-color:#20272F;
}

.sidenavList button{
    text-decoration: none;
    color: #eee;
    font-size: 3vw;
    font-family:Arial, Helvetica, sans-serif;
}

.sidenavList{
    text-decoration: none;
    list-style: none;
}

.ProfileHeader img{
    height: 6vw;
    width: 6vw;
    position: absolute;
}

.ProfileHeader .Username{
    font-size: 1vw;
    margin-left: -1vw;
    text-decoration: none;
    color:#eee;
    font-family:Arial, Helvetica, sans-serif;
}

.Username:hover{
    animation-name: scaleText;
    animation-duration: 0.1s;
    color:#075fe4;
    font-size: 0.99vw;
}

.sidenavList .btn:Hover{
    color: #7a7e85;
}

.AboutMe .btn{
    color: #7a7e85;
}


.UserId{
    color:#eee;
    margin-top: -4.5vw;
    margin-left: -1vw;
    font-size:0.8vw;
}

@keyframes scaleText {
    from {font-size: 1vw;}
    to {font-size: 0.99vw;}
}
